# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Eclipse
/.settings/
/bin/
/.classpath
/.project
/*.launch

/*/.settings/
/*/bin/
/*/.classpath
/*/.project
/*/*.launch

# folders
.gradle/
classes/
build/
run/
out/
/changelog.html

# editors
*.swp
*.kate-swp
